@import "tailwindcss";
@plugin 'tailwindcss-animate';
@custom-variant dark (&:is(.dark *));
@import "@fontsource/josefin-sans";

@theme {
  --font-josefin: "Josefin Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

/* distinction  */

@theme inline {
  /* — separation — */
  --color-text: var(--color-text-default); /* primary body text */
  --color-text-accent: var(--color-text-primary); /* brand/accent text */
  --color-text-main: var(--color-text-main); /* headings */
  --color-text-subheading: var(--color-text-tertiary); /* subheadings */
  --color-text-caption: var(--color-text-quaternary); /* captions */
  --color-text-label: var(--color-text-label); /* form labels/meta */
  --color-text-white: var(--color-text-white);

  --color-bg-accent: var(--color-bg-primary); /* accent backgrounds */
  --color-bg-hover: var(--color-bg-hover);
  --color-bg-secondary: var(--color-bg-secondary); /* secondary accents */
  --color-bg-default: var(--color-bg-default); /* page & card bg */
  --color-bg-card: var(--color-bg-card); /* card/container bg */
  --color-bg-input: var(--color-bg-input); /* input field bg */

  --color-border: var(--color-border-default); /* default borders */
}

[data-theme="light"] {
  /* === Text Colors === */
  --color-text-default: #000000;
  --color-text-primary: #d375b9;
  --color-text-main: #494c6b;
  --color-text-tertiary: #9495a5;
  --color-text-quaternary: #9495a5;
  --color-text-label: #697386;
  --color-text-white: #ffffff;

  /* === Backgrounds === */
  --color-bg-primary: #d375b9;
  --color-bg-hover: #f9ecf5;
  --color-bg-secondary: #7c8495;
  --color-bg-default: #ffffff;
  --color-bg-card: #ffffff;
  --color-bg-input: #ffffff;

  /* === Borders & Focus === */
  --color-border-default: #e3e4f1;
}

[data-theme="dark"] {
  /* === Text Colors === */
  --color-text-default: #ffffff; /* primary body text */
  --color-text-primary: #d375b9; /* brand/accent text */
  --color-text-main: #c8cbe7; /* whitish headings */
  --color-text-tertiary: #c8cbe7; /* whitish subheadings */
  --color-text-quaternary: #4d5067; /* muted gray captions */
  --color-text-label: #697386; /* form labels, meta text */
  --color-text-white: #ffffff;
  /* === Backgrounds === */
  --color-bg-primary: #d375b9; /* brand/accent bg */
  --color-bg-hover: #1e1f31;
  --color-bg-secondary: #4e5666; /* darker secondary accent bg */
  --color-bg-default: #241229; /* page & card background */
  --color-bg-card: #25273d; /* card/container background */
  --color-bg-input: #404363; /* input field background */

  /* === Borders & Focus === */
  --color-border-default: #393a4b; /* inputs, cards, separators */
}
